{% load static %}
{% load is_user_seller %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="referrer" content="no-referrer-when-downgrade">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

    <meta name="google-site-verification" content="0tGKrfRTiF5XowGPr06M8-RJa2Nh84yhJaeQbDBRjYg" />
    <meta name="p:domain_verify" content="4efd89f3bef2c93b796e69ef8c26b160"/>

    <title>{% block page_title %}Global Vintage Love | Unlocking the World of Vintage{% endblock %}</title>

    <!-- Start Favicon stuff -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% get_static_prefix %}img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{% get_static_prefix %}img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{% get_static_prefix %}img/favicon-16x16.png">
    <link rel="manifest" href="{% get_static_prefix %}img/site.webmanifest">
    <link rel="mask-icon" href="{% get_static_prefix %}img/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#00aba9">
    <meta name="theme-color" content="#ffffff">
    <!-- End Favicon stuff -->
    {% block start_styles %}{% endblock %}
    <link rel="stylesheet" href="{% get_static_prefix %}bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% get_static_prefix %}css/PowellAntique.css">
    <link rel="stylesheet" href="{% get_static_prefix %}fonts/ionicons.min.css">
    <link rel="stylesheet" href="{% static 'css/nav-bar.css' %}">
    <link rel="stylesheet" href="{% get_static_prefix %}css/Navigation-with-Button.css">
    <link rel="stylesheet" href="{% get_static_prefix %}css/Social-Icons.css">
{#    {% include 'gtm.html' %}#}
    {% block extra_header %}{% endblock %}
</head>

<body style="overflow-x: hidden;">

    {% include 'navbar.html' %}
    {% block content %}

    {% endblock %}
    <section id="nav-footer" class="blue-background">
        <div class="container">
            {% if hide_subscribe != True %}
            <div class="row">
                <div class="offset-0 offset-md-3 col-md-3 pt-5 pb-5">
                    <span class="white-font" style="font-variant: titling-caps;">Our Company</span><br/><br/>
                    <span class="orange-font"><a href="{% url 'store:our-purpose' %}">Our Purpose</a></span><br/>
                    <span class="orange-font"><a href="{% url 'store:return-policy' %}">Return Policy</a></span><br/>
                    <span class="orange-font"><a href="{% url 'store:privacy-policy' %}">Privacy Policy</a></span><br/>
                    <br/>
                    <span class="orange-font">Need help? Call us! <br/><a style="color: inherit; text-decoration: none;" href="tel:+1-830-800-0385">(830) 800-0385</a></span>
                </div>
                <div class="offset-1 col-md-3 pt-md-5 pb-md-5">
                    <span class="white-font" style="font-variant: titling-caps;">Our Community</span><br/><br/>
                    <span class="orange-font">See new inventory first!</span><br/>
                    <input id="email-marketing-signup" type="email" class="orange-boarder blue-font rounded-3" placeholder="Yes, here's my email"><br/>
                    <button type="submit" class="btn btn-primary blue-w-orange-button rounded-3 mt-1 mb-3" value="" onclick="marketingSignupAsync()">Subscribe</button>
                    <span id="result" class="d-none white-font ps-3"></span>
                </div>
            </div>
            {% endif %}

        </div>
    </section>

    <section class="text-center vintage-font orange-background">
        <div class="social-icons">
            <a href="https://www.facebook.com/Global-Vintage-Love-109096961408500" title="Facebook Link" target="_blank"><i class="icon ion-social-facebook"></i></a>
            <a href="https://www.instagram.com/globalvintagelove/" title="Instagram Link" target="_blank"><i class="icon ion-social-instagram"></i></a>
            <a href="https://www.youtube.com/channel/UC1ewCtR5qDollKTIeUQg8TA" title="Youtube Link" target="_blank"><i class="icon ion-social-youtube"></i></a>
            <a href="https://www.pinterest.com/globalvintagelove/" title="Pinterest Link" target="_blank"><i class="icon ion-social-pinterest"></i></a>
        </div>
    </section>
    <section>
        <div style="text-align: center;"><span class="copyright"><br>©2022 Global Vintage Love<br><br></span></div>
    </section>
    <script src="{% get_static_prefix %}bootstrap/js/bootstrap.bundle.js"></script>
    <script src="{% get_static_prefix %}js/session_cookie.js"></script>
    {% if hide_subscribe != True %}
    <script src="{% get_static_prefix %}js/email-signups.js"></script>
    {% endif %}
    {% block end_body %}{% endblock %}
</body>

</html>