{% load static %}
{% load is_user_seller %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="referrer" content="no-referrer-when-downgrade">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

    <meta name="google-site-verification" content="0tGKrfRTiF5XowGPr06M8-RJa2Nh84yhJaeQbDBRjYg" />
    <meta name="p:domain_verify" content="4efd89f3bef2c93b796e69ef8c26b160"/>

    <title>{% block page_title %}Global Vintage Love | Unlocking the World of Vintage{% endblock %}</title>

    <!-- Start Favicon stuff -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% get_static_prefix %}img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{% get_static_prefix %}img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{% get_static_prefix %}img/favicon-16x16.png">
    <link rel="manifest" href="{% get_static_prefix %}img/site.webmanifest">
    <link rel="mask-icon" href="{% get_static_prefix %}img/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#00aba9">
    <meta name="theme-color" content="#ffffff">
    <!-- End Favicon stuff -->

    <link rel="stylesheet" href="{% get_static_prefix %}bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% get_static_prefix %}css/PowellAntique.css">
    <link rel="stylesheet" href="{% get_static_prefix %}fonts/ionicons.min.css">
    <link rel="stylesheet" href="{% get_static_prefix %}css/Navigation-with-Button.css">
    <link rel="stylesheet" href="{% get_static_prefix %}css/Social-Icons.css">
    {% include 'gtm.html' %}
    {% block extra_header %}{% endblock %}
</head>

<body style="overflow-x: hidden;">

    <nav class="navbar navbar-light navbar-expand-lg navigation-clean-button">
        <div class="container-fluid">
            <div class="text-center d-lg-none" style="width: 100%">
                <button data-bs-toggle="collapse" class="navbar-toggler custom-toggler" data-bs-target="#navcol-1">
                    <span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <a class="navbar-brand d-none d-sm-block" href="{% url 'store:index' %}">
                <img src="{% get_static_prefix %}img/logo.png" style="width: 102px;">
            </a>
            <a class="navbar-brand text-wrap vintage-font text-center" href="{% url 'store:index' %}">GLOBAL VINTAGE LOVE</a>
            <div class="collapse navbar-collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="{% url 'products:all-products' %}">Shop</a></li>
                    {% comment %}<li class="nav-item dropdown"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#">Our Purpose</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item dropdown-item-blue" href="{% url 'store:our-purpose' %}">Customer</a>
                            <a class="dropdown-item dropdown-item-blue" href="{% url 'store:our-purpose-retail' %}">Retail</a>
                        </div>
                    </li>{% endcomment %}
                    {% if user.is_authenticated != True %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'bespoke-shipping:create-by-seller-id' 'unknown' %}">Ship</a></li>
                    {% else %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'bespoke-shipping:create' %}">Ship</a></li>
                    {% endif %}
                    {%  if user.is_authenticated %}
                    {% if user|is_seller %}
                    <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#">Account</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item dropdown-item-blue" href="{% url 'seller:product-list' %}">My Products</a>
                            <a class="dropdown-item dropdown-item-blue" href="{% url 'seller:add-product' %}">Add Product</a>
                            <a class="dropdown-item dropdown-item-blue" href="{% url 'products:qr-grid' %}">Product QR Grid</a>
                        </div>
                    </li>
                    {% else %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'store:join_movement' %}">Join</a></li>
                    {% endif %}
                    <li class="nav-item"><a class="nav-link" style="color: #D4AF37 !important;" href="{% url 'logout' %}">Logout</a></li>
                    {% else %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'store:join_movement' %}">Join</a></li>
                    <li class="nav-item"><a class="nav-link" style="color: #D4AF37 !important;" href="{% url 'login' %}">Log In</a></li>
                    {% endif %}
                </ul>

            </div>
        </div>
    </nav>
    {% block content %}

    {% endblock %}
    <section id="nav-footer" class="blue-background">
        <div class="container">
            {% if hide_subscribe != True %}
            <div class="row">
                <div class="offset-3 col-md-3 pt-5 pb-5">
                    <span class="white-font" style="font-variant: titling-caps;">Our Company</span><br/><br/>
                    <span class="orange-font"><a href="{% url 'store:our-purpose' %}">Our Purpose</a></span><br/>
                    <span class="orange-font"><a href="{% url 'store:return-policy' %}">Return Policy</a></span><br/>
                    <span class="orange-font"><a href="{% url 'store:privacy-policy' %}">Privacy Policy</a></span>
                </div>
                <div class="offset-1 col-md-3 pt-md-5 pb-md-5">
                    <span class="white-font" style="font-variant: titling-caps;">Our Community</span><br/><br/>
                    <span class="orange-font">See new inventory first!</span><br/>
                    <input id="email-marketing-signup" type="email" class="orange-boarder blue-font rounded-3" placeholder="Yes, here's my email"><br/>
                    <button type="submit" class="btn btn-primary blue-w-orange-button rounded-3 mt-1 mb-3" value="" onclick="marketingSignupAsync()">Subscribe</button>
                    <span id="result" class="d-none white-font ps-3"></span>
                </div>
            </div>
            {% endif %}
        </div>
    </section>
    <section class="text-center vintage-font orange-background">
        <div class="social-icons">
            <a href="https://www.facebook.com/Global-Vintage-Love-109096961408500" target="_blank"><i class="icon ion-social-facebook"></i></a>
            <a href="https://www.instagram.com/globalvintagelove/" target="_blank"><i class="icon ion-social-instagram"></i></a>
            <a href="https://www.youtube.com/channel/UC1ewCtR5qDollKTIeUQg8TA" target="_blank"><i class="icon ion-social-youtube"></i></a>
            <a href="https://www.pinterest.com/globalvintagelove/" target="_blank"><i class="icon ion-social-pinterest"></i></a>
        </div>
    </section>
    <section>
        <div style="text-align: center;"><span class="copyright"><br>©2021 Global Vintage Love<br><br></span></div>
    </section>
    <script src="{% get_static_prefix %}bootstrap/js/bootstrap.bundle.js"></script>
    <script src="{% get_static_prefix %}js/session_cookie.js"></script>
    {% if hide_subscribe != True %}
    <script src="{% get_static_prefix %}js/email-signups.js"></script>
    {% endif %}
    {% block end_body %}{% endblock %}
</body>

</html>