{% extends 'base.html' %}
{% load static %}

{% block extra_header %}
    <script type="text/javascript" src="{{ square_js_url }}"></script>
    <link rel="stylesheet" href="{% get_static_prefix %}css/loading.css">
{% endblock %}

{% block content %}
<section id="heading" class="text-center">
    <h1 class="blue-font">Bespoke Vintage Shipping</h1>
    <p class="blue-font">Tell us about the piece, enter your address, get an instant quote</p>
    <div class="list-group list-group-horizontal-md orange-font vintage-font" id="list-tab" role="tablist">
        <a class="vintage-list-item list-group-item list-group-item-action active" id="list-size-list" data-toggle="list" href="#list-size" role="tab" aria-controls="size"><span style="font-size: larger;">1 Size of piece</span></a>
        <a class="vintage-list-item list-group-item list-group-item-action" id="list-to-list" data-toggle="list" href="#list-to" role="tab" aria-controls="to"><span style="font-size: larger;">2 Where its going</span></a>
        <a class="vintage-list-item list-group-item list-group-item-action" id="list-want-list" data-toggle="list" href="#list-want" role="tab" aria-controls="want"><span style="font-size: larger;">3 How you want it</span></a>
        <a class="vintage-list-item list-group-item list-group-item-action" id="list-insure-list" data-toggle="list" href="#list-insure" role="tab" aria-controls="insure"><span style="font-size: larger;">4 Select Your Insurance</span></a>
        <a class="vintage-list-item list-group-item list-group-item-action" id="list-submit-list" data-toggle="list" href="#list-submit" role="tab" aria-controls="submit"><span style="font-size: larger;">5 Complete your shipping</span></a>
    </div>
    <form method="post">
        {% csrf_token %}
        <div class="tab-content blue-font" id="nav-tabContent" style="padding-top: 1.5em; padding-bottom: 1.5em;">
            <div class="tab-pane fade show active" id="list-size" role="tabpanel" aria-labelledby="list-size-list">
                <div class="container">
                    <div class="row">
                        {% if size_form_errors %}
                        <div class="alert alert-danger" role="alert">
                            <ul>
                                {% for error in size_form_errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                        {% endif %}
                        <div class="col-12 col-md-6 col-xl-3 pt-3">
                            <div class="size-form-check text-center">
                                <label class="form-check-label" for={{ size_form.size_small.id_for_label }}>
                                    {{ size_form.size_small.label }}
                                </label>
                                {{ size_form.size_small.tag }}
                                {{ size_form.size_small }}
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-xl-3 pt-3">
                            <div class="size-form-check text-center">
                                <label class="form-check-label" for={{ size_form.size_medium.id_for_label }}>
                                    {{ size_form.size_medium.label }}
                                </label>
                                {{ size_form.size_medium.tag }}
                                {{ size_form.size_medium }}
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-xl-3 pt-3">
                            <div class="size-form-check text-center">
                                <label class="form-check-label" for={{ size_form.size_large.id_for_label }}>
                                    {{ size_form.size_large.label }}
                                </label>
                                {{ size_form.size_large.tag }}
                                {{ size_form.size_large }}
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-xl-3 pt-3">
                            <div class="size-form-check text-center">
                                <label class="form-check-label" for={{ size_form.size_set.id_for_label }}>
                                    {{ size_form.size_set.label }}
                                </label>
                                {{ size_form.size_set.tag }}
                                {{ size_form.size_set }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <button class="btn btn-primary blue-w-orange-button rounded-3 mt-1 mb-3" style="width: 120px;" id="list-want-list" type="button" data-toggle="list" onclick="showTab('#list-to-list')" role="tab" aria-controls="want"><span style="font-size: larger;">Next</span></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="list-to" role="tabpanel" aria-labelledby="list-to-list">
                <div class="container ">
                    <div class="row text-start">
                        <div class="col-12 col-md-4 offset-md-4">
                            <table>
                                {{ ship_to_form.as_table }}
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <button class="btn btn-primary blue-w-orange-button rounded-3 mt-1 mb-3" style="width: 120px;" id="list-want-list" type="button" data-toggle="list" onclick="showTab('#list-want-list')" role="tab" aria-controls="want"><span style="font-size: larger;">Next</span></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="list-want" role="tabpanel" aria-labelledby="list-want-list">
                <div class="container">
                    <div class="row">
                        {% if delivery_level_form_errors %}
                            <div class="alert alert-danger" role="alert">
                                <ul>
                                    {% for error in delivery_level_form_errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                        {% for radio_level in delivery_level.level %}
                        <div class="col-6">
                            <div class="size-form-check">
                                <label class="form-check-label" for={{ radio_level.id_for_label }}>
                                    {{ radio_level.choice_label }}
                                </label>
                                {{ radio_level.tag }}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="list-insure" role="tabpanel" aria-labelledby="list-insure-list">
                <div class="container">
                    <div class="row">
                        {% if insure_level_form_errors %}
                            <div class="alert alert-danger" role="alert">
                                <ul>
                                    {% for error in insurance_form_errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                        {% for radio_insure in insurance_form.insure_level %}
                        <div class="col-6">
                            <div class="size-form-check">
                                <label class="form-check-label" for={{ radio_insure.id_for_label }}>
                                    {{ radio_insure.choice_label }}
                                </label>
                                {{ radio_insure.tag }}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="list-submit" role="tabpanel" aria-labelledby="list-submit-list">
                <div class="container">
                    <div class="row text-start">
                        <p id="ship-error"></p>
                        <div id="ship-text">
                            <p>You are shipping <span id="ship_size"></span> with <span id="ship_location"></span></p>
                            <p id="insurance"></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-6 offset-lg-2 col-lg-4">
                            <h3>From</h3>
                            {% if from_form %}
                            <table class="text-start" id="from-form">
                                {{ from_form.as_table }}
                            </table>
                            <button class="btn btn-primary blue-w-orange-button rounded-3 mt-1 mb-3" type="button" onclick="calculate_cost()"><span style="font-size: larger;">Calculate Shipping</span></button>
                            {% else %}
                            <div id="from-seller" class="text-start">
                                <p id="seller-name">{{ seller.name }}</p>
                                <p id="seller-street">{{ seller.street }}</p>
                                <p><span id="seller-city">{{ seller.city }}</span>, <span id="seller-state">{{ seller.state }}</span> <span id="seller-postal-code">{{ seller.zip }}</span></p>
                            </div>
                            {% endif %}
                        </div>
                        <div class="col-12 col-md-6 col-lg-4">
                            <h3>To</h3>
                            <p id="to-errors" class="text-start"></p>
                            <div id="to-text" class="text-start">
                                <p id="to_name"><span id="to_first_name"></span> <span id="to_last_name"></span> </p>
                                <p id="to_address_1"></p>
                                <p id="to_address_2"></p>
                                <p id="to_city_state_zip"><span id="to_city"></span>, <span id="to_state"></span> <span id="to_zip"></span></p>
                            </div>

                        </div>
                        <div class="row">
                            <div id="load" style="display: none;">
                              <div>G</div>
                              <div>N</div>
                              <div>I</div>
                              <div>T</div>
                              <div>A</div>
                              <div>L</div>
                              <div>U</div>
                              <div>C</div>
                              <div>L</div>
                              <div>A</div>
                              <div>C</div>
                            </div>
                            <p id="cost" style="font-size: larger"></p>
                            <p id="shipping-timeline"></p>
                        </div>
                        {% if payment_errors %}
                        <div class="row">
                            {% for error in payment_errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% endif %}
                        <div class="row pt-3" id="card-container">
                            <div class="col">
                                <div class="row">
                                    <div id="form-container">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row text-center">
                        <div class="col text-center">
                            <input disabled class="btn btn-primary blue-w-orange-button rounded-3 mt-1 mb-3" id="form-submit" style="max-width: 10em;" type="submit" value="Place Order" onclick="onGetCardNonce(event)">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>
{% endblock %}
{% block end_body %}
    <script src="{% get_static_prefix %}js/shipPaymentForm.js"></script>
    <script src="{% get_static_prefix %}js/jquery-3.6.0.min.js"></script>
    <script src="{% get_static_prefix %}js/ship-tabs.js"></script>
    <script src="{% get_static_prefix %}js/live-chat.js"></script>
{% endblock %}
