{% extends 'base.html' %}
{% load static %}

{% block extra_header %}
    <script type="text/javascript" src="{{ square_js_url }}"></script>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Your delivery quote is ready!</h1>
            <p>Thanks for giving us an opportunity to deliver your treasure!</p>
            <p>Below are the details of your delivery estimate. </p>
            <p>Simply enter your credit card details to complete the order and schedule the pickup and delivery to you.</p>
            <h5>Placement</h5>
            {% if quote.ship_location == 'door' %}
                <p>Your treasure will be delivered to your door.</p>
            {% else %}
                <p>Your treasure will be delivered in your home.</p>
            {% endif %}
            <h5>Insurance</h5>
            {% if quote.insurance %}
                <p>Your treasure is fully insured.</p>
            {% else %}
                <p>Your treasure insured for the value of the shipment.</p>
            {% endif %}

            <h5 class="pt-3">Quote Price</h5>
            <p>Cost {{ quote.cost }}</p>
        </div>
    </div>
    <form method="post">
        {% csrf_token %}
        <div class="row pt-3" id="card-container">
            <div class="col">
                <div class="row">
                    <div id="form-container">
                        <div id="sq-card"></div>
                    </div>
                </div>
            </div>
        </div>
        {% if payment_errors %}
        <div class="row pt-3">
            <div class="col">
                {{ payment_errors }}
            </div>
        </div>
        {% endif %}
        <div class="row pt-3">
            <div class="col text-center">
                <input class="btn btn-primary blue-w-orange-button rounded-3 mt-1 mb-3" id="form-submit" style="max-width: 10em;" type="submit" value="Pay" onclick="onGetCardNonce(event)">
            </div>
        </div>
    </form>
</div>
{% endblock %}
{% block end_body %}
    <script src="{% get_static_prefix %}js/shipPaymentForm.js"></script>
    <script >setSquareAppID();</script>
    <script src="{% get_static_prefix %}js/live-chat.js"></script>
{% endblock %}
