<section class="filter-section">
    <form>
        <div class="card mb-4">
            <h6 class="card-header">Price</h6>
            <div class="list-group list-group-flush">
                <li class="list-group-item">
                    <input type="range" value="{{ prices.retail_price__max }}" max={{ prices.retail_price__max }} min={{ prices.retail_price__min }} id="rangeInput" oninput="maxPrice.value=this.value" />
                    <p>{{ prices.retail_price__min }}-{{ prices.retail_price__max }}</p>
                </li>
                <li class="list-group-item">
                    Max: <input type="number" value="{{ prices.retail_price__max }}" max={{ prices.retail_price__max }} min={{ prices.retail_price__min }} class="form-control" id="maxPrice" onkeyup="rangeInput.value=this.value" id="maxPrice" />
                    <button id="priceFilterBtn" class="btn btn-info btn-sm mt-1">Filter</button>
                </li>
            </div>
        </div>
        {% for filter_section, filter_values in attributes.items %}
            <div class="card mb-4">
                <h6 class="card-header">{{ filter_section }}</h6>
                <div class="list-group list-group-flush">
                {% for filter_value in filter_values %}
                    <li class="list-group-item">
                          <input class="form-check-input" type="checkbox" value="{{ filter_value }}" id="{{ filter_value|lower|slugify }}" data-filter="{{ filter_section }}">
                          <label class="form-check-label" for="{{ filter_value|lower|slugify }}">
                                {{ filter_value }}
                          </label>
                    </li>
                {% endfor %}
                </div>
            </div>
        {% endfor %}
    </form>
</section>
