{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block extra_header %}
    <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}css/carousel.css"/>
{% endblock %}


{% block content %}
    {% include 'similar-products.html' %}
    <section class="product-nav">
        <div class="container">
            <div class="row">
                <div class="col-6"><span>Home / Product</span></div>
                <div class="col-6 text-end"><span><i class="fa fa-arrow-left"></i>&nbsp;Prev | Next&nbsp;<i class="fa fa-arrow-right"></i>&nbsp;</span></div>
            </div>
        </div>
    </section>
    <section class="product-section body-padding">
        <div class="container">
            <div class="d-flex flex-wrap flex-lg-nowrap">
                {% if product_images.count == 1 %}
                <div style="width: 100%">
                <img src="{{ product_images.0.image.url }}" style="margin: auto; height: 50rem; width: {% if image.image.image_width < image.image.image_height %}{% widthratio image.image.image_width image.image.image_height 50 %}{% else %}{% widthratio image.image.image_height image.image.image_width 50 %}{% endif %}rem;"/>
                </div>
                {% else %}
                <div id="productCarousel" class="carousel carousel-dark slide lazy ms-md-120" data-bs-interval="false" data-bs-ride="carousel">
                    <div class="carousel-indicators d-none d-md-inline" style="display: block; margin: 0; padding: 0; margin-left: -100px; width: 100px; z-index: 0;">
                        {% for product_image in product_images %}
                            {% if forloop.counter0 < 5 %}
                        <button type="button" data-bs-target="#productCarousel" data-bs-slide-to="{{ forloop.counter0 }}" {% if forloop.first %}class="active" aria-current="true" {% endif %}aria-label="Slide {{ forloop.counter }}">
                            <img class="d-block w-100" src="{{ product_image.image.url }}">
                        </button><br/>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="carousel-inner">
                        {% for product_image in product_images %}
                            {% if forloop.counter0 < 5 %}
                        <div class="carousel-item {% if forloop.first %}active{% endif %}">
                            <img src="{{ product_image.image.url }}" class="d-block" style="margin: auto; height: 25rem; width: {% if image.image.image_width < image.image.image_height %}{% widthratio image.image.image_width image.image.image_height 25 %}{% else %}{% widthratio image.image.image_height image.image.image_width 25 %}{% endif %}rem;"/>
                        </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <button class="carousel-control-prev" style="z-index: 1;" type="button" data-bs-target="#productCarousel" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" style="z-index: 1;" type="button" data-bs-target="#productCarousel" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
                {% endif %}
                <div>
                    <h2>{{ product.title }}</h2>
                    <h5 class="pb-3">${{ product.retail_price|intword|intcomma }}</h5>
                    {% if product.status.name != 'Sold' %}
                    {% if is_seller %}
                    <div><a href="{% url 'products:product-sold' product.id %}" class="btn btn-primary vintage-button rounded-3" type="button">Mark as Sold</a></div>
                    {% else %}
                    <div><a href="{% url 'orders:order_create' product.id %}" class="btn btn-primary vintage-button rounded-3" type="button">Order Now</a></div>
                    {% endif %}
                    {% else %}
                        <div><h2>Sold</h2></div>
                    {% endif %}
                    <div class="pt-3" style="font-size: smaller;">
                        <p><img src="{% get_static_prefix %}img/clock.svg"><span style="font-weight: bold;"> Estimated Time:</span> 3-4 Weeks</p>
                        <p><img src="{% get_static_prefix %}img/box-seam.svg"><span style="font-weight: bold;"> Free Shipping:</span> Express front door shipping to the continental US, arrives 21 to 30 days from time of purchase.</p>
                        <p><img src="{% get_static_prefix %}img/truck.svg"><span style="font-weight: bold;"> Ships From:</span> Boerne, TX</p>
                    </div>
                </div>
            </div>
        </div>
        <div id="product details" class="row grey-background" style="font-size: smaller; padding-top: 3em; padding-bottom: 3em;">
            <div class="offset-1 col-md-5">
                <div class="row">
                    <h4 style="font-weight: bold;">About</h4>
                </div>
                <div class="row">
                    <p>{{ product.description }}</p>
                </div>
            </div>
            <div class="offset-1 offset-md-0 col-md-5">
                <div class="col">
                    <div class="row">
                        <h4 style="font-weight: bold;">Details</h4>
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-5">
                            <h5>Dimensions</h5>
                            <p>Height: {{ product.dimension_height|intword }} in.</p>
                            <p>Length: {{ product.dimension_length|intword }} in.</p>
                            <p>Width: {{ product.dimension_width|intword }} in.</p>
                            <p>Weight: {{ product.dimension_weight|intword }} in.</p>
                        </div>
                        <div class="col-12 col-sm-5">
                            {% for attribute, attr_values in product.attributes.items %}
                                <h5>{{ attribute|title }}</h5>
                                {% for value in attr_values %}
                                    <p>{{ value|title }}</p>
                                {% endfor %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block end_body %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{% endblock %}