{% extends 'base.html' %}
{% load static %}

{% block extra_header %}
    <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}css/carousel.css"/>
{% endblock %}

{% block content %}
    <section class="product-nav">
        <div class="container">
            <div class="row">
                <div class="col-6"><span>Home / Product</span></div>
                <div class="col-6 text-end"><span><i class="fa fa-arrow-left"></i>&nbsp;Prev | Next&nbsp;<i class="fa fa-arrow-right"></i>&nbsp;</span></div>
            </div>
        </div>
    </section>
    <section class="product-section body-padding">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    {% if product_images.count == 1 %}
                    <img src="{{ product_images.0.image.url }}" class="w-100"/>
                    {% else %}
                    <div id="productCarousel" class="carousel carousel-dark slide" data-bs-interval="false" data-bs-ride="carousel">
                        <div class="carousel-indicators">
                            {% for product_image in product_images %}
                            <button type="button" data-bs-target="#productCarousel" data-bs-slide-to="{{ forloop.counter0 }}" {% if forloop.first %}class="active" aria-current="true" {% endif %}aria-label="Slide {{ forloop.counter }}"></button>
                            {% endfor %}
                        </div>
                        <div class="carousel-inner">
                            {% for product_image in product_images %}
                            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                <img src="{{ product_image.image.url }}" class="d-block w-100"/>
                            </div>
                            {% endfor %}
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#productCarousel" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#productCarousel" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                    {% endif %}
                </div>
                <div class="col-sm-12 col-md-6">
                    <h2>{{ product.title }}</h2>
                    <h5>${{ product.retail_price }}</h5>
                    <p>{{ product.description }}</p>
                    <p>Height - {{ product.dimension_height }}</p>
                    <p>Length - {{ product.dimension_length }}</p>
                    <p>Width - {{ product.dimension_width }}</p>
                    <p>Weight - {{ product.dimension_weight }}</p>
                    {% if product.status.name != 'Sold' %}
                    {% if is_seller %}
                    <div class="d-xxl-flex justify-content-xxl-center"><a href="{% url 'products:product-sold' product.id %}" class="btn btn-primary d-xxl-flex vintage-button" type="button">Mark as Sold</a></div>
                    {% else %}
                    <div class="d-xxl-flex justify-content-xxl-center"><a href="{% url 'orders:order_create' product.id %}" class="btn btn-primary d-xxl-flex vintage-button" type="button">Order Now</a></div>
                    {% endif %}
                    {% else %}
                        <div><h2>Sold</h2></div>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block end_body %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{% endblock %}