{% extends 'base.html' %}
{% load static %}

{% block content %}
<section id="heading" class="text-center blue-background justify-content-center">
    <h1 class="white-font">Bespoke Vintage Shipping</h1>
    <div class="list-group list-group-horizontal-md orange-font vintage-font" id="list-tab" role="tablist">
        <a class="vintage-list-item list-group-item list-group-item-action active" id="list-sent-list" data-toggle="list" href="#list-sent" role="tab" aria-controls="sent"><span style="font-size: larger;">1 Size of piece</span></a>
        <a class="vintage-list-item list-group-item list-group-item-action" id="list-to-list" data-toggle="list" href="#list-to" role="tab" aria-controls="to"><span style="font-size: larger;">2 Where its going</span></a>
        <a class="vintage-list-item list-group-item list-group-item-action" id="list-want-list" data-toggle="list" href="#list-want" role="tab" aria-controls="want"><span style="font-size: larger;">3 How you want it</span></a>
    </div>
    <div class="tab-content white-font" id="nav-tabContent">
      <div class="tab-pane fade show active" id="list-sent" role="tabpanel" aria-labelledby="list-sent-list">
          
      </div>
      <div class="tab-pane fade" id="list-to" role="tabpanel" aria-labelledby="list-to-list">
          Want
      </div>
      <div class="tab-pane fade" id="list-want" role="tabpanel" aria-labelledby="list-want-list">
          How
      </div>
    </div>
</section>
{% endblock %}
{% block end_body %}
    <script src="{% get_static_prefix %}js/jquery-3.6.0.min.js"></script>
    <script>
        $('#list-tab a').on('click', function(e) {
          e.preventDefault()
          $(this).tab('show')
        })
    </script>
{% endblock %}