{% extends 'base.html' %}
{% load static %}

{% block page_title %}Checkout{% endblock %}
{% block extra_header %}
    <script type="text/javascript" src="{{ square_js_url }}"></script>
    <script type="text/javascript">
        const product_id = "{{ product.id }}"
    </script>
{% endblock %}

{% block content %}
    <div class="container">
        <h1>Checkout</h1>
        <div class="d-flex flex-row flex-md-nowrap flex-wrap">
            <div class="flex-column order-md-first order-last align-self-start w-md-50">
                <div class="order-area">
                    <form method="post" class="order-form">
                        {% csrf_token %}
                        <table>
                            {{ form.as_table }}
                        </table>
                        {% if product.status.name != 'Sold' %}
                        {% if payment_errors %}
                        <div>
                            {% for error in payment_errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% endif %}
                        <div class="row pt-3" id="card-container">
                            <div class="col">
                                <div class="row">
                                    <div id="form-container">
                                        <div id="sq-card"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <input class="btn btn-primary blue-button rounded-3 mb-5 mt-2" type="submit" value="Place Order" onclick="onGetCardNonce(event)">
                        {% endif %}
                    </form>
                </div>
            </div>
            <div class="flex-column order-md-last order-first align-self-start w-md-50 ms-3">
                <div class="order-details">
                    <h3>Your order</h3>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Product</th>
                                <th scope="col">Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>{{ product }}</td>
                                {% if product.status.name != 'Sold' %}
                                <td>${{ product.retail_price }}</td>
                                {% else %}
                                <td>No longer available</td>
                                {% endif %}
                            </tr>
                            <tr>
                                <th scope="row"></th>
                                <td><strong>Shipping</strong></td>
                                <td id="shipping_amount">${{ shipping_amount }}</td>
                            </tr>
                            <tr>
                                <th scope="row"></th>
                                <td><strong id="tax_percent">Tax @ 0%</strong></td>
                                <td id="tax_amount">$0.00</td>
                            </tr>
                            <tr>
                                <th scope="row"></th>
                                <td><strong>Total</strong></td>
                                {% if product.status.name != 'Sold' %}
                                <td id="order_cost">${{ product.retail_price }}</td>
                                {% else %}
                                <td id="order_cost">Not Available</td>
                                {% endif %}
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script src="{% get_static_prefix %}js/paymentForm_v1.0.0.1.js"></script>

{% endblock %}