#productCarousel {
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 50px;
}

.carousel-control-prev {
  margin-left: -11%;
}

.carousel-control-next {
  margin-right: -11%;
}

.carousel-indicators {
  justify-content: start;
}

.carousel-indicators ul {
  list-style-type: none;

}

.carousel-indicators li {
  height: 100px!important;
}

.carousel-indicators [data-bs-target] {
  width: 70px !important;
}

.img-fit {
  margin: auto;
  object-fit: contain;
  height: 100%;
  width: 100%;
}

@media (min-width: 320px) {
  .img-xs {
    height: 300px;
    width: 300px;
  }
}

@media (min-width: 720px) {
  .img-sm {
    height: 25rem;
    width: 25rem;
  }
}
