@font-face {
	font-family: 'Powell Antique';
	src: url(../fonts/PowellAntique.woff) format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Cinzel-Regular';
	src: url(../fonts/Cinzel-Regular.ttf) format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Sackers';
	src: url(../fonts/SackersGothicStd-Light.otf);
	font-weight: normal;
	font-style: normal;
}