{% extends 'base.html' %}
{% block content %}
    <section class="text-center vintage-font body-padding">
        <h3 class="blue-font">THE WORLD OF VINTAGE</h3>
        <h1 class="orange-font">UNLOCKED</h1>
        <div class="text-options"><span><br><br><strong>Vintage Love is a resource for vintage lovers around the world.</strong><br>We aim to make timeless vintage treasures available online at fair prices,<br>support those businesses that have made this industry what it is today, and<br>reduce our dependency on further damaging this beautiful planet we call home.<br><br></span><button class="btn btn-primary vintage-button" type="button">Our Purpose</button></div>
    </section>
{#    <section class="text-center vintage-font body-padding orange-background">#}
{#        <h3 class="white-font">VINTAGE SERVICES</h3>#}
{#        <div class="text-options"><button class="btn btn-primary vintage-button" type="button">Our Purpose</button></div>#}
{#    </section>#}
{% endblock %}