{% extends 'base.html' %}
{% load static %}
{% block content %}
    <section class="text-center body-padding blue-background">
        <h3 class="orange-font vintage-font">UNLOCK THE WORLD OF VINTAGE</h3>
        <div class="text-options white-font vintage-font mb-5">
            <span>
                We offer the greatest selection of vintage pieces from around the<br/>
                world. Global Vintage Love makes vintage treasure hunting simple.<br/>
                Whether decorating a small room or adding the final touches to your<br/>
                custom home, Global Vintage Love is ready to serve. Discover unique<br/>
                vintage pieces and get them delivered straight to your doorstep.<br/>
                Enjoy the hunt; find what you love.
            </span>
        </div>
        <a href="{% url 'products:all-products' %}" class="btn btn-primary vintage-button white-font rounded-3">Shop Now</a>
    </section>
{% endblock %}