{% extends 'base.html' %}
{% load static %}
{% block content %}
<section>
        <div class="container-fluid blue-font">
            <h1 class="orange-font" style="font-family: 'Maldins'">We aim to be 70% less than storage and 30% less than movers</h1>
            <h3>Enabling you and your clients to shop, store, repair and deliver safely.</h3>
            <p>Storage from as little as $1 a month</p>
            <p>Repair / restoration service as little as $100</p>
            <p>In-home installation and set-up starting at $200</p>
        </div>
    </section>
{% endblock %}