{% extends 'base.html' %}
{% load static %}

{% block page_title %}Global Vintage Love | My Deliveries{% endblock %}


{% block content %}
    <div class="container body-padding">
        <div class="row">
            <div class="col-md-12">
                <h1>Delivery Assignment</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p>Date: {{ assignment_date }}</p>
                <p>Vehicle: {{ assignment_driver }}</p>
            </div>
        </div>
        <form method="post">
            {% csrf_token %}
            <table class="table table-bordered table-striped">
                <input type="hidden" name="form-TOTAL_FORMS" id="id_form-TOTAL_FORMS" value="{{ form_count }}">
                <input type="hidden" name="form-INITIAL_FORMS" id="id_form-INITIAL_FORMS" value="{{ form_count }}">
                <input type="hidden" name="form-MIN_NUM_FORMS" id="id_form-MIN_NUM_FORMS" value="{{ form_count }}">
                <input type="hidden" name="form-MAX_NUM_FORMS" id="id_form-MAX_NUM_FORMS" value="{{ form_count }}">
            <thead>
            <tr>
                <td>Shipment</td>
                <td>Order</td>
                <td>Status</td>
                <td>Address</td>
                <td>Notes</td>
                <td>Requested Date</td>
            </tr>
            </thead>
            <tbody>
                {% for form in forms %}

                <tr>
                    <td>{{ form.0.shipping }}</td>
                    {% if form.2 %}
                    <td><input type="number" name="{{ form.0.sequence.html_name }}" min="1" max="100" id="{{ form.0.sequence.id_for_label }}" value="{{ form.2 }}"></td>
                    {% else %}
                    <td>{{ form.0.sequence }}</td>
                    {% endif %}
                    {% if form.3 == 'Pickup' %}
                    <td>{{ form.3 }}</td>
                    <td>{{ form.1.to_address }}</td>
                    <td>{{ form.1.notes }}</td>
                    <td>{{ form.1.pickup_requested_date }}</td>
                    {% else %}
                    <td>{{ form.3 }}</td>
                    <td>{{ form.1.to_address }}</td>
                    <td>{{ form.1.notes }}</td>
                    <td>{{ form.1.delivery_requested_date }}</td>
                    {% endif %}

                </tr>
                {% endfor %}
            </tbody>
            </table>

            <input class="btn btn-primary blue-button rounded-3 mb-5 mt-2" type="submit" value="Next">
            <button class="btn btn-primary blue-button rounded-3 mb-5 mt-2" value="Print" onclick="window.print();">Print</button>
        </form>
    </div>

{% endblock %}