{% extends 'base.html' %}
{% load static %}
{% load tz %}

{% block page_title %}Global Vintage Love | My Deliveries{% endblock %}


{% block content %}
    {% timezone "US/Central" %}
    <div class="container body-padding">
        <form method="post">
            <h1>Pickups</h1>
            {% csrf_token %}
            {% include 'pickup_table.html' %}

            <h1>Deliveries</h1>
            {% include 'delivery_table.html' %}

            {{ date_driver_form.as_p }}
            <input class="btn btn-primary blue-button rounded-3 mb-5 mt-2" type="submit" value="Next">
        </form>
        <button class="btn btn-primary blue-button rounded-3 mb-5 mt-2" value="Print" onclick="window.print();">Print</button>
    </div>
{% endtimezone %}
{% endblock %}