                    {% for delivery in deliveries %}
                    <tr>
                        <th scope="row">{{ delivery.sequence }}</th>
                        <td>{{ delivery.scheduled_date }}</td>
                        <td>{{ delivery.user.username }}</td>
                        <td><a href="{% url 'bespokeShipping:ship-detail' delivery.shipping_id %}">{{ delivery.shipping_id }}</a></td>
                        {% if delivery.pickup and delivery.shipping.must_go_to_barn == '0' %}
                        <td>Pickup</td>
                        <td>
                            <p>{{ delivery.shipping.from_name }}</p>
                            <p>{{ delivery.shipping.from_phone }}</p>
                        </td>
                        <td>{{ delivery.shipping.from_address }}</td>
                        <td>{{ delivery.shipping.to_address }}</td></td>
                        {% elif delivery.pickup and delivery.shipping.must_go_to_barn != '0' %}
                        <td>Pickup</td>
                        <td>
                            <p>{{ delivery.shipping.from_name }}</p>
                            <p>{{ delivery.shipping.from_phone }}</p>
                        </td>
                        <td>{{ delivery.shipping.from_address }}</td>
                        <td>Barn</td></td>
                        {% elif not delivery.pickup and delivery.shipping.must_go_to_barn == '0' %}
                        <td>Delivery</td>
                        <td>
                            <p>{{ delivery.shipping.to_name }}</p>
                            <p>{{ delivery.shipping.to_phone }}</p>
                        </td>
                        <td>{{ delivery.shipping.from_address }}</td></td>
                        <td>{{ delivery.shipping.to_address }}</td>
                        {% else %}
                        <td>Delivery</td>
                        <td>
                            <p>{{ delivery.shipping.to_name }}</p>
                            <p>{{ delivery.shipping.to_phone }}</p>
                        </td>
                        <td>Barn</td>
                        <td>{{ delivery.shipping.to_address }}</td>
                        {% endif %}
                        <td>{{ delivery.shipping.description }}</td>
                        <td>{{ delivery.shipping.order_window }}</td>
                    </tr>
                {% endfor %}