{% extends 'base.html' %}
{% load static %}

{% block page_title %}Global Vintage Love | My Deliveries{% endblock %}

{% block content %}
    <div class="container body-padding">
        <div class="row">
            <div class="col">
                <h1>My Deliveries</h1>
                <p>Date: {{ date }}</p>
            </div>
        </div>
        <table class="table table-hover table-bordered table-striped table-sm">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Shipment</th>
                    <th scope="col">Status</th>
                    <th scope="col">Contact</th>
                    <th scope="col">From</th>
                    <th scope="col">To</th>
                    <th scope="col">Item(s)</th>
                    <th scope="col">Timeframe</th>
                    <th scope="col">Notes</th>
                    {% if not show_buttons %}
                    <th scope="col">Action</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for delivery in deliveries %}
                    <tr>
                        <th scope="row">{{ delivery.sequence }}</th>
                        <td><a href="{% url 'bespokeShipping:ship-detail' delivery.shipping_id %}">{{ delivery.shipping_id }}</a></td>
                        {% if delivery.pickup and delivery.shipping.must_go_to_barn == '0' %}
                        <td>Pickup</td>
                        <td>
                            <p>{{ delivery.shipping.from_name }}</p>
                            <p>{{ delivery.shipping.from_phone }}</p>
                        </td>
                        <td>{{ delivery.shipping.from_address }}</td>
                        <td>{{ delivery.shipping.to_address }}</td></td>
                        {% elif delivery.pickup and delivery.shipping.must_go_to_barn != '0' %}
                        <td>Pickup</td>
                        <td>
                            <p>{{ delivery.shipping.from_name }}</p>
                            <p>{{ delivery.shipping.from_phone }}</p>
                        </td>
                        <td>{{ delivery.shipping.from_address }}</td>
                        <td>Barn</td></td>
                        {% elif not delivery.pickup and delivery.shipping.must_go_to_barn == '0' %}
                        <td>Delivery</td>
                        <td>
                            <p>{{ delivery.shipping.to_name }}</p>
                            <p>{{ delivery.shipping.to_phone }}</p>
                        </td>
                        <td>{{ delivery.shipping.from_address }}</td></td>
                        <td>{{ delivery.shipping.to_address }}</td>
                        {% else %}
                        <td>Delivery</td>
                        <td>
                            <p>{{ delivery.shipping.to_name }}</p>
                            <p>{{ delivery.shipping.to_phone }}</p>
                        </td>
                        <td>Barn</td>
                        <td>{{ delivery.shipping.to_address }}</td>
                        {% endif %}
                        <td>{{ delivery.shipping.description }}</td>
                        <td>{{ delivery.shipping.order_window }}</td>
                        <td>{{ delivery.shipping.notes }}</td>
                        {% if not show_buttons %}
                        <td>
                        {% if delivery.complete %}
                            <p>Complete</p>
                        {% elif delivery.blocked %}
                            <p>Non-Complete</p>
                        {% else %}
                            <button id="complete-{{ delivery.id }}" value="{% url 'deliveries:complete-assignment' delivery.id %}" class="btn btn-primary blue-w-orange-button rounded-3 mt-1 mb-1" style="background: #0f5132; width: 10rem;" onclick="process_delivery(this)">Complete</button>
                            <button id="block-{{ delivery.id }}" value="{% url 'deliveries:block-assignment' delivery.id %}" class="btn btn-primary blue-w-orange-button rounded-3 mt-1 mb-1" style="background: #6a1a21; width: 10rem;" onclick="process_delivery(this)">Non-Complete</button>
                        {% endif %}
                        </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>

        </table>
    </div>

{% endblock %}
{% block end_body %}
    <script src="{% get_static_prefix %}js/jquery-3.6.0.min.js"></script>
    <script src="{% static 'js/delivery_functions_v1.0.0.1.js' %}"></script>
{% endblock %}